@import "lib/bootstrap/less/bootstrap";

//@import "_tui";
@import "game";
@import "sfx";


body {
  min-width: 400px;;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#body-wrapper {
  height: 100%;
  overflow: hidden;
  padding-bottom: 5em;
  overflow-y: auto;
}

.jumbotron {
  background-color: rgba(238, 238, 238, 0.6);

  .btn { margin-top: 1.5em; }
}

.icon-large {
  width: 9em;
}

.icon-small {
  width: 3em;
}

.icon-medium {
  width: 5em;
}

.navbar {
  border-radius: 0;
}
