@main("MineSweeper | Instructions") {

    <div class="container">

        <h1>Instructions</h1>

        <div class="media">
            <div class="media-left">
                <img class="media-object icon-medium" src="@routes.Assets.versioned("images/bomb.svg")">
            </div>
            <div class="media-body">
                <h3 class="media-heading">Quick Start</h3>
                <ul>
                    <li>You are presented with a board of squares. Some squares contain mines (bombs), others don't. If you
                        click on a square containing a bomb, you lose. If you manage to click all the squares (without
                        clicking on any bombs) you win.
                    </li>
                    <li>Clicking a square which doesn't have a bomb reveals the number of neighbouring squares containing
                        bombs. Use this information plus some guess work to avoid the bombs.
                    </li>
                    <li>To open a square, point at the square and click on it. To mark a square you think is a bomb, point
                        and right-click.
                    </li>
                </ul>
            </div>
        </div>

        <h3>Detailed Instructions</h3>

        <div class="media">
            <div class="media-body">
                <ul>
                    <li>A square's &quot;neighbours&quot; are the squares adjacent above, below, left, right, and all 4
                        diagonals. Squares on the sides of the board or in a corner have fewer neighbors. The board does not
                        wrap around the edges.
                    </li>
                    <li>If you open a square with 0 neighboring bombs, all its neighbors will automatically open. This can
                        cause a large area to automatically open.
                    </li>
                    <li>To remove a bomb marker from a square, point at it and right-click again.</li>
                    <li>The first square you open is never a bomb.</li>
                    <li>If you mark a bomb incorrectly, you will have to correct the mistake before you can win. Incorrect
                        bomb marking doesn't kill you, but it can lead to mistakes which do.
                    </li>
                    <li>You don't have to mark all the bombs to win; you just need to open all non-bomb squares.</li>
                </ul>
            </div>
            <div class="media-right">
                <img class="media-object icon-medium" src="@routes.Assets.versioned("images/skull.svg")">
            </div>
        </div>

            <!--h3>Status Information</h3>
  <ul>
  <li>The upper left corner contains the number of bombs left to find. The number will update as you mark
    and unmark squares.
  </li>
  <li>The upper right corner contains a time counter. The timer will max out at 999 (16 minutes 39
    seconds).
  </li>
  <li>Click on the time to switch to the number of moves counter. Click again to switch back to the
    time.
  </li>
 </ul-->

        <p class="text-muted">Source: <a href="http://www.freeminesweeper.org/help/minehelpinstructions.html"
        target="_blank">freeminesweeper.org</a></p>

    </div>

}