

@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

@activeLink(currentPath:String) = @{
    if(request.path.equals(currentPath)) "active"
}

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
    <title>@title</title>

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.ico")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/font-awesome/css/font-awesome.css")">

    <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">

    </head>
    <body>
        <div id="body-wrapper" class="colored">
            @* And here's where we render the `Html` object containing
            * the page content. *@
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">

                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand @activeLink("")" href="/"><em>Plain Old</em> MineSweeper</a>
                </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="@activeLink("/game")"><a href='@routes.HomeController.game'>Game</a></li>
                        <li class="@activeLink("/instructions")"><a href='@routes.HomeController.instructions'>Instructions</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="@activeLink("/about")"><a href='@routes.HomeController.about'>About</a></li>
                    </ul>
                </div>
                    <!-- /.navbar-collapse -->
            </div>
                <!-- /.container-fluid -->
        </nav>
            @content
        </div>
    </body>
</html>

